.carouselSection {
  position: relative;
  margin-bottom: 70px;
  color: #fff;
  & > .contentWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    .carouselLeftNav {
      background-color: orange;
    }
  }
  .carouselTitle {
    font-size: 24px;
    color: rgb(230, 210, 210);
    font-weight: normal;
  }
}
